<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">	
	<!-- // <script type="text/javascript" src="bootstrap/js/angular.min.js"></script> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script type="text/javascript" src="instafeed.js/instafeed.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/controller.js"></script>

	<script type="text/javascript" src="bootstrap/js/club.js"></script>
	<script src="https://platform.vine.co/static/scripts/embed.js"></script>


</head>
<body>
		<div ng-controller="yelpController" class="container">
			<div class="row">
				<form class="col-sm-12">
					<div class = "jumbotron" style="background-size: 100%;">
						<h1>Night Out?</h1>
						<h2>Venue Search</h2>
						<input type="text" placeholder="Insert Venue">
						<input type="text" placeholder="Category">
						<button type="button" id="search-button" class="btn btn-primary" ng-click="getYelp()">Search!</button>
					</div>
				</form>
				<div class="yelp-response col-sm-6">
					<div class="yelp-col col-sm-12" ng-repeat="response in data">
						<div class="yelp-name col-sm-12">
							<h3>{{response.name}}</h3>
						</div>
						<img class="col-sm-2"src="{{response.image_url}}">
						<img class="col-sm-2"src="{{response.rating_img_url}}">
						<div class="review-numbers col-sm-2">{{response.review_count}} Reviews
						</div>
						<div class="col-sm-6">
							<div class="yelp-phone col-sm-12">{{response.phone}}</div>
							<div class="yelp-address col-sm-12">{{response.location.display_address[0]}}
								<br>{{response.location.display_address[1]}}</br>
								{{response.location.display_address[2]}}
							</div>
						</div>
						<div class="yelp-text col-sm-12">What People Are Saying: "{{response.snippet_text}}"</div>
					</div>

				</div>
				<div class="iframe-pics col-sm-6">
					<div id="recent-pictures"></div>
					<div id="club-images"></div>
					<div id="club-images2"></div>
					<div id="vine-feed"></div>
					<div id="club-video"></div>
					<div id="club-video2"></div>
				</div>

			</div>
		</div>



</body>



</html>