.jumbotron{
	background: url('party.png') no-repeat center center;

}

#club-images{
	margin-bottom: 5%;
}

#club-images2{
	margin-bottom: 5%;
}

#club-video{
	width: 90%;
	margin-bottom: 5%;
}

#club-video2{
	width: 90%;
}
.yelp-col:hover{
	background-color: #f8f8f8;
}