.navbar-default{
	margin-left:9.5%;
	margin-right:9% !important;
}

.jumbotron{
	background: url('party.png') no-repeat center center;
}

.container{
	background-color:#f8f8f8;
}
.yelp-col{
	background-color: white;
}

.review-numbers{
	font-size:10px;
}

#club-images{
	margin-bottom: 5%;
}

#club-images2{
	margin-bottom: 5%;
}

#club-video{
	width: 94%;
	margin-bottom: 5%;
	margin-top: 5%;
}

#club-video2{
	width: 94%;
}
.yelp-col:hover{
	background-color: #100000;
	color:white;
}